body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

.message {
    margin: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

#partyVideo {
    width: 100%;
    height: auto;
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    .message {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .message {
        font-size: 14px;
    }
}